body {
    display: flex;
    flex-direction: column;
}

#canvas1 {
    width: 600px;
    height: 600px;
    border: 1px #000 solid;
    margin-bottom: 10px;
}

#canvas2 {
    width: 600px;
    height: 50px;
    border: 1px #000 solid;
}