body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

table {
    width: 40vw;
    border: 1px solid #000;
}

.text_error {
    font-style: italic;
    color: red;
}

.name_table {
    width: 25%;
}

.phone_table {
    width: 40%;
}

thead {
    background: red;
}